/* Estilos CSS para a página */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

#barcode-reader {
  margin: 20px auto;
  text-align: center;
}

#itemName {
  width: calc(100% - 80px);
  margin-right: 10px;
  padding: 8px;
  font-size: 16px;
}

#addItemForm button {
  padding: 10px 20px;
  font-size: 16px;
}

#itemList {
  list-style: none;
  padding: 0;
}

#itemList li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

#itemList li:last-child {
  border-bottom: none;
}